{% extends "block.html" %}

{% block title %}Methodology{% endblock %}
 
{% block content %} 
    <div class="container">  

      <h2>Methodology</h2>
      <img src={{ url_for('static', filename = 'css/images/dry.jpg') }} width="500" height="250" alt="dry" title="dry" border="0">
      <img src={{ url_for('static', filename = 'css/images/ice.jpg') }} width="500" height="250" alt="ice" title="ice" border="0">
      <p>Image credits: harmonyfdn.ca and climatechange.mit.edu</p>
      <ul> 
        <br>
        <li><b>The Environmental Protection Agency</b></li>
        <p>The EPA has data, in CSV format, from the years 1990-2013 on national and international greenhouse gas emissions. More specifically the data includes gas emission output by sector, gas type, and year.</p>
        <li><b>The World Bank</b></li>
        <p>The World Bank&#39s data is available via their Climate API. The API includes total CO2 emissions for past years and predictions for future years. </p>
        <li><b>World Resources Institute</b></li>
        <p>The World Resources Institute has developed CAIT to look at gas emissions by US state and by country. CAIT also contains other economic indicators by country such as GDP, population, and overall energy use.</p>
      </ul>
    </div>
{% endblock %}


