{% extends "block.html" %}
{% block title %}Project Description{% endblock %}
{% block content %}
  <div class="container">
    <h2>Project Description</h2>
    <div class="row">
        <div class="col-md-4">
          <div class="imgAbt">
            <img style='float:left;width:500px;height500px; margin-right:10px' src={{ url_for('static', filename = 'css/images/smoke.jpg') }}/>
            <p>Image Credit: Ozone.com</p>
          </div>
        </div>
        <div class="col-md-5 col-md-push-2">
        <p>This website is part of an individual assignment from the class "Unleashing Open Data with Python" at Johns Hopkins. <p>

         The goal of this project is for each student to pick a research topic and then, using the programming language Python, scrape related data from APIs, websites, and csv files. After the data in the methodology section is accessed, statistical analysis will be implemented to help answer the research question: What countries, states, and industries, emit the largest amounts of greenhouse gases? This question will be communicated in tables and data visualizations created in R and Python on the Results page. <p>

          This website was built by Mariah Harvey using Flask, Jinja2, and additional HTML/CSS code to display this project.</p>
      </div>
    </div>
  </div>
{% endblock %}


