{% extends "block.html" %}
{% block title %}Research Question{% endblock %}
{% block content %}
  <div class="container">
    <h2>Research Question</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="imgAbt">
            <img style='float:left;width:500px;height500px; margin-right:10px' src={{ url_for('static', filename = 'css/images/smokestack.jpg') }}/>
             <p>Image Credit: Getty Images via huffingtonpost.com</p>
          </div>
        </div>
        <div class="col-md-5 col-md-push-2">
        <p><b>Question:</b> What countries, states, and industries, emit the largest amounts of greenhouse gases?</p>
        <p>What many of us forget on a day-to-day basis is that our world is so fragile. Small increases in our climate&#8217s temperature can cause heat waves, natural disasters, rising sea levels, and insect outbreaks.  These effects can lead to socioeconomic strife, mass migration, less drinkable water, and the spread of diseases such as malaria. </p>
        
        <p>On a daily basis humans burn fossil fuels, and participate in several other activities that cause carbon dioxide, methane, and nitrous oxide, to be released into the air. These gases then trap heat in our atmosphere causing a temperature increase. Thus, according to the EPA, &#8220most of the observed warming since the mid-20th century is due to human-caused greenhouse gas emissions.&#8221  But we, as a population, can do something about climate change. In short, we can monitor, and hopefully then decrease, our greenhouse gas emissions. </p>
      </div>
    </div>
  </div>
{% endblock %}


